/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');
* {
  font-family: 'JetBrains Mono', monospace;
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  /* background: #1B2B34 */
}
